<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить карточку читателя</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Имя: </label>
    <input type="text" th:field="*{fullName}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('fullName')}"
         th:errors="*{fullName}">Full name error</div>
    <br>
    <label for="birthdate">Дата рождения: </label>
    <input type="text" th:field="*{dateOfBirth}" th:value="${person.getFormattedDateOfBirth()}" id="birthdate">
    <div style="color: red" th:if="${#fields.hasErrors('dateOfBirth')}"
         th:errors="*{dateOfBirth}">Date of birth error</div>
    <br>
    <input type="submit" value="Обновить">
</form>

</body>
</html>