<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все читатели</title>
</head>
<body>
<a th:href="@{index.jsp}">Назад к общему списку</a>
<br/>
<br/>
<label for="people"><h3>Читатели:</h3></label>
<div th:each="person : ${people}" id="people">
    <a th:href="@{people/{id}(id=${person.getId()})}"
       th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">Person placeholder</a>
</div>

<br/>
<hr/>

<a href="/people/new">Создать карточку нового читателя</a>

</body>
</html>