<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Карточка читателя</title>
</head>
<body>

<p th:text="${'id: ' + person.getPersonId()}">Id</p>
<p th:text="${person.getName()}">Name</p>
<p th:text="${'Год рождения: ' + person.getBirthdate()}">Birthdate</p>
<hr/>
<a th:href="@{/people/{id}/edit(id=${person.getPersonId()})}">Отредактировать карточку</a>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <input type="submit" value="Удалить карточку"/>
</form>

</body>
</html>