<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить карточку книги</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}/edit(id=${book.getId()})}" th:object="${book}">
    <label for="title">Название: </label>
    <input type="text" th:field="*{title}" id="title">
    <br>
    <label for="author">Имя автора: </label>
    <input type="text" th:field="*{author}" id="author">
    <br>
    <label for="year">Дата публикации: </label>
    <input type="text" th:field="*{year}" id="year">
    <br>
    <input type="submit" value="Обновить">
</form>

</body>
</html>