<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать карточку книги</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="title">Название: </label>
    <input type="text" th:field="*{title}" id="title">
    <br>
    <label for="authorName">Имя автора: </label>
    <input type="text" th:field="*{author}" id="authorName">
    <br>
    <label for="publicationYear">Год публикации: </label>
    <input type="text" th:field="*{year}" id="publicationYear">
    <br>
    <input type="submit" value="Создать">
</form>

</body>
</html>