<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Карточка книги</title>
</head>
<body>
<a th:href="@{/books}">Назад к общему списку</a>
<br/>
<p th:text="${'id: ' + book.getId()}">Id</p>
<p th:text="${book.getTitle()} + ' — ' + ${book.getAuthor()}">Title and author name</p>
<p th:text="${'Год публикации: ' + book.getYear()}">Publication date</p>
<br/>
<div th:if="${bookOwner != null}">
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <p th:text="${'Книга сейчас у: ' + bookOwner.getFullName()}">Owner</p>
        <input type="submit" value="Освободить">
    </form>
</div>
<div th:if="${bookOwner == null}">
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <p>Эта книга свободна, кому назначить её?</p>
        <label for="person">Выберите человека: </label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}"
                    th:text="${person.getFullName()}">Person
            </option>
        </select>
        <br/>
        <input type="submit" value="Назначить">
    </form>
</div>
<hr/>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>