<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Карточка книги</title>
</head>
<body>

<p th:text="${'id: ' + book.getBookId()}">Id</p>
<p th:text="${book.getTitle()} + ' — ' + ${book.getAuthorName()}">Title and author name</p>
<p th:text="${'Год публикации: ' + book.getPublicationYear()}">Publication date</p>
<br/>
<p th:if="${person != null}" th:text="${'Книга сейчас у: ' + person.getName()}">Holder</p>
<p th:if="${person == null}" th:text="${'Эту книгу пока никто не взял!'}">Holder</p>
<hr/>
<a th:href="@{/books/{id}/edit(id=${book.getBookId()})}">Отредактировать карточку</a>
<br/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBookId()})}">
    <input type="submit" value="Удалить карточку"/>
</form>

</body>
</html>